  body{
  margin: 0;
  padding: 0;
  background: url(stlskybg.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0,0,0,.3);
  padding: 40px;
  text-align: center;
  margin:auto;
  color: white;
  font-family:helvetica, serif;
  font-weight: normal;
}
